<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="phidget22Manager.Examples.MotorVelocityController.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="phidget22Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="phidget22Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <phidget22Manager.Examples.MotorVelocityController.Settings>
      <setting name="rescaleFactor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Kp" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Ki" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Kd" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="VelocityLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Acceleration" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isRescaleFactorSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isKpSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isKiSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isKdSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isVelocityLimitSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isAccelerationSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentLimit" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StallVelocity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isCurrentLimitSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isCurrentRegulatorGainSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isStallVelocitySet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dataPoints" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isDataPointsSet" serializeAs="String">
        <value>False</value>
      </setting>
    </phidget22Manager.Examples.MotorVelocityController.Settings>
    <phidget22Manager.Properties.Settings>
      <setting name="logsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="service_start_type" serializeAs="String">
        <value>Manual</value>
      </setting>
      <setting name="enableMdns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="logsLevel" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="labelColumnVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="skuColumnVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="checkForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="updateSkipVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="windowPosition" serializeAs="String">
        <value>0, 0, -1, -1</value>
      </setting>
      <setting name="windowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="IsSettingsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="expandServers" serializeAs="String">
        <value>True</value>
      </setting>
    </phidget22Manager.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <applicationSettings>
    <phidget22Manager.Properties.Settings>
      <setting name="networkServerConfigFileName" serializeAs="String">
        <value>phidget22networkserver.pc</value>
      </setting>
    </phidget22Manager.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>